
#button{

  box-shadow: 0 0 50px black;
    font-size: 20px;
}
body{
    background-image: url(https://images.pexels.com/photos/2156881/pexels-photo-2156881.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
h1{
text-align: center;

}
table{
background-image: url(https://images.pexels.com/photos/3608311/pexels-photo-3608311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
font-size: 20px;
box-shadow: 0 0 20px rgb(255, 255, 255);
}
#submit
{
size: 1000px;
}
